<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="restaurant" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value= "{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row restaurant-cards justify-content-center">
        {{#each restaurants}}
          <div class="card mb-3"> 
            <a href="/restaurants/{{this._id}}"><img class="card-img-top" src="{{this.image}}" alt="{{this.name}}"></a>
            <div class="card-body p-3">
              {{!-- Description area --}}
              <a href="/restaurants/{{this._id}}" class="text-secondary">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
              </a>
              {{!-- Buttons area --}}
              <div class="cdthird-row">
                <div>
                  <span class="badge badge-pill badge-danger font-weight-normal">
                    {{this.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                </div>
                <form class="form-inline" action="" method="POST">
                  <button type="button" class="btn btn-warning btn-sm" id="add-fav" data-id="{{this.id}}">Add favorite</button>
                </form>
                <form class="form-inline" action="" method="POST">
                  <button type="submit" class="btn btn-warning btn-sm btn-delete" id="delete-fav"><a class="btn-delete" href="/restaurant/delete/{{this._id}}">Delete</a></button>
                </form>
                <form class="form-inline" action="" method="POST">
                  <button type="button" class="btn btn-warning btn-sm" id=""><a
                      href="/restaurant/edit/{{this._id}}">Edit</a></button>
                </form>
              </div>

            </div>  
          </div>
        {{/each }}
      </div>
    </div>
  </div>
</div>