<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="restaurant" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value= "{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- Sorting & filter button --}}
<div class="mt-4">
  <form action="/" class="row filterBar">
    {{!-- Sortting restaurant list --}}
    <div class="mx-3 input-group" style="width: 15%;">   
      <div class="input-group-prepend">
        <span class="input-group-text">排序</span>
      </div>
      <select class="sorting-select custom-select" aria-label="Default select example" name="sortBy"
        onchange="this.form.submit()" id="sortBy">
        <option value="_id" {{isSelected sortBy "_id" }}>最新餐廳</option>
        <option value="nameAsc" {{isSelected sortBy "nameAsc" }}>A-Z</option>
        <option value="nameDesc" {{isSelected sortBy "nameDesc" }}>Z-A</option>
        <option value="ratingDesc" {{isSelected sortBy "ratingDesc" }}>評價 高-低</option>
        <option value="ratingAsc" {{isSelected sortBy "ratingAsc" }}>評價 低-高</option>
      </select>
    </div>
    {{!-- Filter by restaurant category --}}
    <div class="mx-3 input-group" style="width: 15%;">
      <div class="input-group-prepend">
        <span class="input-group-text">更多分類:</span>
      </div>
      <select class="sorting-select custom-select" aria-label="Default select example" name="category"
        onchange="this.form.submit()" id="sortBy">
        <option value="" {{isSelected category "" }}>全部</option>
        <option value="美式" {{isSelected category "美式" }}>美式</option>
        <option value="義式" {{isSelected category "義式" }}>義式</option>
        <option value="酒吧" {{isSelected category "酒吧" }}>酒吧</option>
        <option value="咖啡" {{isSelected category "咖啡" }}>咖啡</option>
        <option value="日本料理" {{isSelected category "日本料理" }}>日本料理</option>
      </select>
    </div>
  </form>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row restaurant-cards justify-content-center">
        {{#each restaurants}}
          <div class="card mb-3"> 
            <a href="/restaurant/{{this._id}}"><img class="card-img-top" src="{{this.image}}" alt="{{this.name}}"></a>
            <div class="card-body p-3">
              {{!-- Description area --}}
              <a href="/restaurant/{{this._id}}" class="text-secondary">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
              </a>
              {{!-- Buttons area --}}
              <div class="cdthird-row">
                <div>
                  <span class="badge badge-pill badge-danger font-weight-normal">
                    {{this.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                </div>
                <form class="form-inline" action="" method="POST">
                  <button type="button" class="btn btn-warning btn-sm" id="add-fav" data-id="{{this.id}}">Add favorite</button>
                </form>
                <form class="form-inline" action="/restaurant/{{ this._id }}/?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-warning btn-sm btn-delete" id="delete-fav"><a class="btn-delete">Delete</a></button>
                </form>
                <form class="form-inline" action="" method="POST">
                  <button type="button" class="btn btn-warning btn-sm" id=""><a
                      href="/restaurant/edit/{{this._id}}">Edit</a></button>
                </form>
              </div>

            </div>  
          </div>
        {{/each }}
      </div>
    </div>
  </div>
</div>